.the-latest {
    margin: 14rem 13.5rem 11.5rem 13.5rem;
    min-height: 40rem;

    .the-latest-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4rem;

        .header {
            font-size: 4rem;
            font-weight: 500;
        }

        .items {
            display: flex;
            font-size: 2.4rem;

            .item {
                list-style: none;
                padding: 0 1rem;
                color: #0000ff;
                font-weight: 400;
            }
        }
    }

    .the-latest-body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 6.5rem;
    }
}