$max-width: 40rem;

.item-feature {
    .image {
        width: 100%;
        max-width: $max-width;
        max-height: $max-width / 2;
    }

    .feature-type {
        font-size: 1.4rem;
        margin-top: 1.0rem;
        margin-bottom: 1.0rem;
        font-weight: 500;
    }

    .feature-text {
        font-size: 2.0rem;
        font-weight: 400;
    }

    .feature-black {
        color: black;
    }

    .feature-light-blue {
        color: rgb(109, 207, 255);
    }

    .feature-dark-blue {
        color: rgb(0, 182, 217);
    }

    .feature-orange {
        color: rgb(255, 118, 77);
    }

    .feature-yellow {
        color: rgb(254, 209, 52);
    }

    .feature-viollet {
        color: rgb(102, 146, 255);
    }
}