.landing-page {
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    // align-items: center;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;

    .middle-part {
        background-color: rgb(255, 255, 255);
        width: 100%;
        max-width: 160rem;
        position: relative;
        // display: flex;



    }


    .picture-middle-bottom {}
}