.nav-bar {
    padding: 0 4rem;

    .nav-bar-upper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 7rem;

        .nav-bar-left {
            display: flex;
            align-items: center;

            .nav-bar-items {
                display: flex;
                align-items: center;
                height: 2.8rem;
                font-weight: 500;

                .nav-bar-item {
                    list-style: none;
                    text-align: center;
                    font-size: 2rem;
                    min-width: 8rem;
                }

                .nav-bar-extendable {
                    cursor: pointer;
                }
            }

        }

        .nav-bar-right {
            display: flex;
            align-items: center;

            .nav-bar-items {
                display: flex;
                align-items: center;
                height: 2.8rem;
                font-weight: 500;

                .nav-bar-item {
                    list-style: none;
                    text-align: center;
                    font-size: 2rem;
                    min-width: 18rem;
                    color: blue;
                }

                .nav-bar-item:last-child {
                    font-size: 1.6rem;
                    color: black;
                }
            }
        }
    }

    .lower-part {

        .lower-part-extended {
            .title {
                font-size: 3rem;
                margin-bottom: 1.5rem;
            }

            .nav-bar-items {
                font-size: 1.6rem;
                display: flex;
                margin-bottom: 2.5rem;

                .nav-bar-item {
                    list-style: none;
                    padding: 0 1.2rem;

                    .title {
                        font-weight: 500;
                        font-size: 1.8rem;
                    }

                    .text {
                        max-width: 35rem;
                    }
                }

                .nav-bar-item:first-child {
                    padding: 0 1.2rem 0 0;
                }

                .nav-bar-item:last-child {
                    padding: 0 0 0 1.2rem;
                }
            }
        }

        .lower-part-hidden {
            display: none;
        }
    }

}