.in-focus {
    margin: 11.5rem 13.5rem 11.5rem 13.5rem;
    min-height: 40rem;

    .in-focus-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4rem;

        .header {
            font-size: 4rem;
            font-weight: 500;
        }
    }

    .in-focus-body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 6.5rem;
    }
}