.middle-part-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 55vw;
    max-height: 91rem;
    position: relative;

    .video-top-left {
        width: 58%;
        height: 85%;
        position: relative;
    }

    .image1 {
        width: 33%;
        height: initial;
        position: absolute;
        right: 0px;
        top: 39%;
    }

    .image2 {
        width: 33%;
        height: initial;
        position: absolute;
        left: 38%;
        bottom: 0px;
    }
}